spacy<3.8.0
medcat~=1.12.0
plotly~=5.19.0
eland==8.12.1
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.6.0/en_core_web_md-3.6.0-py3-none-any.whl
ipyfilechooser
jupyter_contrib_nbextensions
