medcat==1.10.2
plotly~=5.19.0
eland==8.12.1
# Example of a spacy model download.
# https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.1.0/en_core_web_md-3.1.0-py3-none-any.whl